.inquiry-card {
  padding-bottom: 40px;

  &-header {
    @include text-style(12, $primary);
    margin-bottom: 8px;

    .detail {
      @include flexbox(start);
      margin-bottom: 8px;

      dd.is-answered {
        color: $blue;
      }

      dd:not(:last-child):after {
        content: '|';
        margin: 0 4px;
      }
    }

    .misc {
      @include flexbox(start);
      color: $tertiary;

      strong {
        font-weight: 400;

        &::after {
          content: '|';
          margin: 0 4px;
        }
      }
    }
  }

  &-body {
    .question-content,
    .answer-content {
      @include text-style(13, $primary);
      position: relative;

      span {
        position: absolute;
        top: 0;
        left: 0;
        margin-right: 8px;
        font-weight: 700;
        color: $blue;
      }

      p {
        @include flexbox(start);
        padding-left: 20px;

        i {
          margin-right: 8px;
          font-size: 16px;
          color: $tertiary;
        }
      }

      .seller {
        @include flexbox(start);
        padding-left: 20px;
        margin-bottom: 4px;

        strong {
          margin-right: 4px;
        }

        time {
          @include text-style(12, $tertiary);
        }
      }
    }

    .answer-content {
      margin-top: 12px;
    }
  }

  @include responsive(T) {
    margin-bottom: 20px;

    &-header {
      margin-bottom: 20px;
    }

    &-body {
      .question-content,
      .answer-content {
        span {
          @include text-style(16);
        }
        p {
          @include text-style(16);
          padding-left: 24px;
        }
      }

      .answer-content {
        margin-top: 16px;

        .seller {
          margin-bottom: 4px;

          strong {
            @include text-style(16);
          }
        }
      }
    }
  }
}
