// scss-lint:disable all
@font-face {
  font-family: 'tomorrow';
  src: url('./assets/fonts/tomorrow.eot?5ehrqo');
  src: url('./assets/fonts/tomorrow.eot?5ehrqo#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/tomorrow.ttf?5ehrqo') format('truetype'),
    url('./assets/fonts/tomorrow.woff?5ehrqo') format('woff'),
    url('./assets/fonts/tomorrow.svg?5ehrqo#tomorrow') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
