%forms-base {
  @include text-style(16, $primary);
  display: block;
  height: 40px;
  padding: 0 16px;
  border: 1px solid $border;
  border-radius: 4px;
  background-color: $white;
  appearance: none;
  width: 100%;
  transition: background-color 200ms ease-in-out;

  &::placeholder {
    color: $tertiary;
  }

  &:not(:disabled):hover {
    background-color: $background;
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

.forms-value,
.form-input {
  @extend %forms-base;
}

// NOTE: Select
.select-group {
  position: relative;

  .forms-select {
    @extend %forms-base;
  }

  &.is-active {
    .forms-select {
      border-color: $blue;
    }

    .ic-caret {
      color: $blue;
    }
  }

  .ic-caret {
    @include pos-center-y;
    font-size: 24px;
    color: $tertiary;
    right: 8px;
    pointer-events: none;
  }
}

// NOTE: Input
.input-group {
  position: relative;

  .form-input {
    @extend %forms-base;
    padding-left: 40px;
  }

  .ic-search {
    @include pos-center-y;
    left: 10px;
    font-size: 20px;
    color: $secondary;
    pointer-events: none;
  }
}
