.floating-order-form {
  $global-header-height: $gnb-height-md + $lnb-height-md +
    $product-tab-height-md;

  @include flexbox(start, start);
  flex-direction: column;
  position: sticky;
  top: $global-header-height;
  padding: 20px 0;
  max-height: calc(100vh - #{$global-header-height});
  min-height: calc(100vh - #{$global-header-height + $global-footer-height});

  > * {
    // 모든 자식 요소 선택
    width: 100%;
  }

  .order-inputs,
  .order-summary,
  .button-group {
    flex-shrink: 0;
    flex-grow: 0;
  }

  .order-checkouts {
    flex-grow: 1;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .button-group {
    .bookmark-button {
      @include flexbox;
      background-color: $white;
      border-radius: 4px;
      border: 1px solid $border;
      flex-grow: 0;
      flex-shrink: 0;
      width: 55px;
      height: 55px;
      transition: background-color 200ms ease-in-out;

      &.is-active {
        i {
          color: $blue;
        }
      }

      &:hover {
        background-color: $background;
      }

      i {
        @include flexbox;
        font-size: 32px;
        color: $primary;
        width: 55px;
        height: 55px;
      }
    }

    .btn-outlined {
      margin-right: 8px;
    }
  }
}
