.lnb {
  $lnb-height-sm: 40px;
  $lnb-height-md: 50px;
  $lnb-link-padding: 8px;
  $grid-margin: $sm-margin + $gutter / 2;
  overflow-x: auto;

  background-color: $white;
  @include no-scrollbar;

  &-list {
    @include inline-flexbox(start);
    white-space: nowrap;
    margin-left: -#{$grid-margin};
    padding: 0 #{$grid-margin - $lnb-link-padding};
    height: $lnb-height-sm;
    border-bottom: 1px solid $border;
  }

  &-item {
    &.is-active {
      a {
        color: $blue;
        border-bottom: 2px solid $blue;
      }
    }

    a {
      @include inline-flexbox;
      @include text-style(13, $dark);
      font-weight: 700;
      height: $lnb-height-sm;
      padding: 0 $lnb-link-padding;
      border-bottom: 1px solid transparent;

      &:hover {
        color: $blue;
      }
    }
  }

  @include responsive(T) {
    overflow-x: visible;
    height: $lnb-height-md;
    border-bottom: 1px solid $border;

    &-list {
      margin-left: 0;
      padding: 0;
      height: auto;
      border-bottom: none;
    }

    &-item {
      a {
        @include text-style(14, $dark);
        height: $lnb-height-md;
      }
    }
  }
}
